/* Подключение шрифтов */

/* Подключение шрифта Raleway */


@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/raleway/raleway-800.woff2') format('woff2');
  font-display: swap;
}

/* Подключение шрифта Rubik */
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik/rubik-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik/rubik-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/rubik/rubik-800.woff2') format('woff2');
  font-display: swap;
}

/* Переменные, цвета */
:root {
  /* Основные цвета */
  --color-black: #000000;
  --color-white: #FFFFFF; 
  --color-dark: #444444;
  --color-light: #f0f0f0; 
  --color-light-gray: #EBEBEB; 
  --color-catalog-filter: #E5E5E5; 
  --color-catalog-form-title: #DCDCDC; 
  /* Дополнительные цвета */
  --color-yellow: #FFE17F;
  --color-bright-yellow: #FFC700;
  --color-decor-yellow: #FFC500;
}

/* Базовые стили */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;     
  min-height: 100%;
  margin: 0;

  font-family: Rubik, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-dark); 

  background-color: var(--color-white); 
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;   
}

.button {
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;  
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;
  color: var(--color-black);  
    
  background: linear-gradient(transparent 7px, var(--color-yellow) 7px 15px, transparent 15px);
  border: none;

  cursor: pointer;  
}

.link {
  text-decoration: none;

  color: var(--color-black); 

  cursor: pointer;
}

.section-title {
  margin: 0;

  font-family: Raleway, Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-black); 
}

/* Хедер */
.page-header {  
  color: var(--color-black);   
}

.page-header .wrapper {
  padding-bottom: 150px;

  background: linear-gradient(var(--color-white) 23px, var(--color-yellow) 23px);
} 

.catalog-header .wrapper {
  padding-bottom: 38px;
}

.logo-link {
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 18px;
  padding-left: 60px;
}

.header-menu-right-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;    
}

.user-menu { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-left: 60px;
  padding-right: 60px; 
  padding-bottom: 16px;
}

.user-special-list {
  display: flex;  
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;  
  margin: 0;   
  padding: 0;

  list-style-type: none;  
}

.user-menu-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: var(--color-black);    
}

.authorization {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.authorization-action {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 60px;
  padding-right: 60px;
}

.site-navigation-list { 
  display: flex;  
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;  
}

.site-navigation-link {
  font-family: Raleway, Arial, sans-serif;  
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
  color: var(--color-black);   
}

.header-menu-services-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;  
}

.catalog-navigation-list {
  margin: 0;
  padding: 0;
}

.catalog-navigation-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--color-black);     
} 

.header-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

/* Главная страница */
.main-container {
  flex-grow: 1;
}

/* Раздел со слайдером */
.slider-wrapper {
  background: linear-gradient(var(--color-yellow) 150px, var(--color-white) 150px);
}

.slider {
  padding-bottom: 70px;

  counter-reset: slider-number;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
  padding-left: 40px;
}

/* Номер слайда пока скрываю, чтобы не отвлекала, если я правильно понимаю, мы ее потом абсолютно спозиционируем */
/* .slider-item:before {
  counter-increment: slider-number;
  content: '0' counter(slider-number);  

  font-family: Rubik, Tahoma, sans-serif;
  font-size: 180px;
  font-weight: 800;
  line-height: 30px;
  text-align: right;

  color: var(--color-black);  
} */

.slider-title {
  margin: 0;

  font-family: Raleway, Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-black);   
}

.slider-text {
  margin: 0;
}

.slider-specifications-meaning {
  font-size: 36px;
  color: var(--color-black);   
}

.slider-specifications-term {
  font-size: 16px;
}  

/* Я пока с ними ничего не делаю, кроме флексов, т.к. предполагаю, что будем их ставить абсолютным позиционированием */
.slider-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;

  padding: 0;

  background-image: none; /* Иначе наследуется градиент из .button  */
  background-color: var(--color-white); 
  border-radius: 100%;
  border: 2px solid var(--color-black);   
}

.slider-pagination-button-current {
  background-color: var(--color-black); 
}

/* Раздел с категориями */
.categories {
  padding-bottom: 69px;
}

.categories-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;  
  padding: 0;

  list-style-type: none;
}

.categories-item {
  width: 13.79%;
  margin-right: 40px;
}

.categories-item:nth-child(6n) {  
  margin-right: 0;
}

.categories-icon { 
  width: 160px;
  height: 160px;  
  
  background-color: var(--color-yellow);      
}

.categories-title {
  margin: 0;
  padding-top: 33px;

  font-family: Raleway, Arial, sans-serif;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: var(--color-black); 
}

/* Раздел с услугами */
.services {  
  padding-top: 69px;
  padding-bottom: 69px;

  background: linear-gradient(var(--color-white) 100px, var(--color-light) 100px);
}

.services-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.services-tab-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 24%;
  margin: 0; 
  margin-right: auto; 
  padding: 0;    

  list-style-type: none;
}

.services-tab-link {
  background: linear-gradient(transparent 7px, var(--color-bright-yellow) 7px 15px, transparent 15px);
}

.services-list {
  width: 66%;
  margin: 0;
  padding: 0;  

  list-style-type: none;
}

.services-item {
  display: flex; 
  justify-content: flex-start; 
  align-items: center;
}

.services-descr {
  width: 58%;  
}

.services-title {
  margin: 0;

  font-family: Raleway, Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--color-black); 
}

.services-text {
  margin: 0;
}

/* Раздел с предложением */
.banner {    
  padding-top: 90px;
}

.banner-wrapper {   
  background-color: var(--color-light);
}

.banner-link {
  display: flex;
  align-items: center;
}

/* Я не понимаю, почему ширина оранжевой области становится 112px, а не 125 px, хотя задано 125 */
.banner-icon {
  width: 125px;
  height: auto;  
      
  background-color: var(--color-yellow); 
}

.banner-text {
  width: 100%;
  margin: 0;

  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.banner-text span {
  text-align: center;
  background: rgba(220, 220, 220, 0.5);  
  border-radius: 100%;
}

/* Раздел о компании */
.company-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 97px;
  padding-bottom: 87px;  
}

.about {
  width: 50%;
}

.about-text {
  margin: 0;
}

.delivery-companies {
  margin: 0;
  padding: 0;
}

.delivery-companies-item {
  font-weight: 700;
  line-height: 20px;
  color: var(--color-black); 
}

/* Раздел с контактами */
.contacts {
  width: 50%;
}

.contacts-subtitle {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
}

.contacts-text {
  margin: 0;

  font-style: normal;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
}

.contacts-link {
  color: var(--color-dark); 
} 

/* Раздел с подпиской */
.newsletter {
  padding-top: 75px;
  padding-bottom: 131px;

  background: var(--color-light);
}

.newsletter-descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.newsletter-title {
  width: 50%;
}

.newsletter-text {
  width: 50%;
  margin: 0;
}

.newsletter-form {
  display: flex;
}

.newsletter-email {
  width: 75%;
  margin: 0;
}

.newsletter-text-note {
  text-align: right;
}

.field {  
  width: 100%;
  margin: 0;
  padding: 0;

  border: none;
}

.newsletter-button {
  font-family: Raleway, Arial, sans-serif; 
  
  background-image: none;
  border: 3px solid rgba(0, 0, 0, 0.1);     
}

/* Страница каталога */
.inner-header {
  padding-top: 37px;
  padding-bottom: 49px;
  padding-left: 60px;
  padding-right: 60px;
}

.inner-header-title {
  margin-bottom: 14px;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);  
} 

/* Фильтр */
.catalog-products { 
  background-color: var(--color-catalog-filter);
}

.catalog-products .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 89%;
  margin-right: 0;  
}

.form-title {   
  margin: 0;  
  padding-top: 25px; 
  padding-bottom: 25px;

  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  line-height: 19px; 
  text-transform: uppercase; 
  letter-spacing: 3px;   
  color: var(--color-black);  

  background-color: var(--color-catalog-form-title);
}

.form-title-left {
  margin-left: -150px;
  padding-left: 150px;
} 

.catalog-filter {
  padding-top: 71px;
  padding-right: 69px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: var(--color-black); 
}

.range-text {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: rgba(136, 102, 102, 0.3);
}

.catalog-filter-label {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-black); 
}

.catalog-filter-link {   
  background: linear-gradient(var(--color-white) 7px, var(--color-bright-yellow) 7px 15px, var(--color-white) 15px);
}

.form-sort-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  
  background-color: var(--color-light-gray);
}

.form-sort-title {
  padding-left: 72px;

  background-color: var(--color-light-gray);
}

/* Карточки */
.products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 69px;
  padding-left: 72px; 
  padding-bottom: 77px;   

  background-color: var(--color-white);
}

.product-card {
  margin-left: 40px;
}

.product-card:nth-child(2n) {
  margin-left: 0;
}

.product-card-link {
  background: linear-gradient(var(--color-white) 7px, var(--color-bright-yellow) 7px 15px, var(--color-white) 15px);
}

.product-img-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: var(--color-black);   
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: var(--color-dark); 
}

.product-card-mark {
  font-family: Raleway, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;  
  letter-spacing: 2px;  
  color: rgba(0, 0, 0, 0.6);
}

.catalog-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-download-more {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.3px;
  
  background-image: none;
  background-color: var(--color-white); 
  border: 3px solid rgba(0, 0, 0, 0.1);
}

/* Пагинация */
.pagination {
  background-color: var(--color-light-gray); 
}

.pagination-link {
  font-size: 16px;
  line-height: 19px;  
  text-align: center;
  text-decoration: none;
  color: rgba(68, 68, 68, 0.3);  
}

.pagination-arrow {
  font-family: Raleway, Arial, sans-serif;   
  text-transform: uppercase;
  letter-spacing: 3.3px;
  color: var(--color-black); 
}

/* Футер */
.page-footer {
  padding-top: 62px;
  padding-bottom: 61px;
  background-color: var(--color-dark); 
}

.footer-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-decor {
  width: 80px;
  height: 7px;
  margin-right: auto;

  background-color: var(--color-decor-yellow);
}

.footer-text {
  margin-right: auto;

  font-size: 16px;
  line-height: 19px;
  color: var(--color-white); 
}

.footer-navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;  
  margin: 0;
  padding: 0;
}

.footer-navigation-link {
  font-family: Raleway, Arial, sans-serif;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;
  color: var(--color-white);   
}

.footer-tel {
  margin-left: auto;

  font-size: 16px;     
  text-decoration: none;
  color: var(--color-white);  
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  margin: 0;
  padding: 0;
}

.footer-social-link {
  background-color: var(--color-white); 
  opacity: 0.3;
}

.author-link {
  margin-left: auto;
}





