/* Подключение шрифтов */

/* Подключение шрифта Raleway */


@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/raleway/raleway-800.woff2') format('woff2');
  font-display: swap;
}

/* Подключение шрифта Rubik */
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik/rubik-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik/rubik-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/rubik/rubik-800.woff2') format('woff2');
  font-display: swap;
}

/* Базовые стили */
body {
  font-family: Rubik, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;

  background-color: #FFFFFF;
}

.link {
  font-family: Raleway, Arial, sans-serif;
  line-height: 21px;
  text-align: center;  
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;  
    
  background: linear-gradient(transparent 7px, #FFE17F 7px 15px,transparent 15px);
  border: none;

  cursor: pointer;  
}

.button {
  font-family: Raleway, Arial, sans-serif;
  text-align: center;

  border: none;

  cursor: pointer; 
}

.section-title {
  font-family: Raleway, Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/* Хедер */
.page-header {
  color: #000000;

  background: linear-gradient(#ffffff 23px, #FFE17F 23px);
}

.user-menu-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;   
}

.site-navigation-link {
  font-family: Raleway, Arial, sans-serif;  
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
  color: #000000;  
}

.catalog-navigation-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;    
} 

/* Главная страница */

/* Раздел со слайдером */
.slider {
  background: linear-gradient(#FFE17F 150px, #FFFFFF 150px);
}

.slider-title {
  font-family: Raleway, Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;  
}

.slider-specifications-meaning {
  font-size: 36px;
  color: #000000;  
}

.slider-specifications-term {
  font-size: 16px;
}   

/* Раздел с категориями */
.categories-image { 
  width: 160px;

  text-align: center;  

  background-color: #FFE17F;   
}

.categories-title {
  font-family: Raleway, Arial, sans-serif;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
}

/* Раздел с услугами */
.services {
  background: linear-gradient(#FFFFFF 100px, #F0F0F0 100px);
}

.services-tab-link {
  background: linear-gradient(transparent 7px, #FFC700 7px 15px, transparent 15px);
}

.services-title {
  font-family: Raleway, Arial, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/* Раздел с предложением */
.banner {    
  background-color: #F0F0F0;
}

.banner-image {
  width: 125px;

  text-align: center;
      
  background-color: #FFE17F; 
}

.banner-button {
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 4px;
}

.banner-button span {
  text-align: center;
  background: rgba(220, 220, 220, 0.5);  
  border-radius: 100%;
}

/* Раздел о компании */

.delivery-companies-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

/* Раздел с контактами */
.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}

.contacts-text {
  font-style: normal;
}

.contacts-link {
  color: #444444;
} 

/* Раздел с подпиской */
.newsletter {
  background: #F0F0F0;
}

.newsletter-button {
  font-family: Raleway, sans-serif;
  font-weight: 800;  
  font-size: 18px;
  font-style: uppercase;
  border: 3px solid rgba(0, 0, 0, 0.1);     
}

/* Страница каталога */

/* Хлебные крошки */
.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);  
} 

/* Фильтр */
.form-title {
  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  line-height: 19px; 
  text-transform: uppercase; 
  letter-spacing: 0.2em;   
  color: #000000; 
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.range-text {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-filter-link {
  background: linear-gradient(#FFFFFF 7px, #FFC700 7px 15px, #FFFFFF 15px);
}

/* Карточки */
.product-card-link {
  background: linear-gradient(#FFFFFF 7px, #FFC700 7px 15px, #FFFFFF 15px);
}

.product-img-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;  
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-card-mark {
  font-family: Raleway, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;  
  letter-spacing: 0.2em;  
  color: rgba(0, 0, 0, 0.6);
}

.button-download-more {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  
  background-color: #ffffff;
}

/* Пагинация */
.pagination {
  background-color: #EBEBEB;
}

.pagination-link {
  font-size: 16px;
  line-height: 19px;  
  text-align: center;
  text-decoration: none;
  color: rgba(68, 68, 68, 0.3);  
}

.pagination-arrow {
  font-family: Raleway, Arial, sans-serif;   
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

/* Футер */
.page-footer {
  background-color: #444444;
}

.footer-text {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer-navigation-link {
  font-family: Raleway, Arial, sans-serif;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #ffffff;  
}

.footer-tel {
  font-size: 16px;     
  text-decoration: none;
  color: #ffffff; 
}

.footer-social-link {
  background-color: #FFFFFF;
  opacity: 0.3;
}





